<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{url_for('shop.index')}}">The Polyester Road</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('shop.index')}}">Shop</a>
                </li>
                {% if current_user.is_authenticated%}
                
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('shop.mycart')}}"><i class="fas fa-treasure-chest"></i>&nbspCart&nbsp${{'%0.2f' % (current_user.cart_total())|float}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('authentication.logout')}}">Sign Out</a>
                </li>
                {%else%}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('authentication.register')}}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('authentication.login')}}">Login</a>
                </li>
                {%endif%}
            </ul>
        </div>
    </div>
</nav>